<div class="buffer-div">
  <div class="col-lg-4"></div>
  <div class="col-lg-2">
    {% if faq %}
    <a class="btn btn-primary" href="/">Weather in Current Location</a>
    {% else %}
    <a class="btn btn-primary" href="/faq">FAQ</a>
    {% endif %}
  </div>
  <div class="col-lg-2">
    {% if searchCity %}
    <a class="btn btn-primary" href="/">Weather in Current Location</a>
    {% else %}
    <a class="btn btn-primary" href="/search">Search for a City</a>
    {% endif %}
  </div>
  <div class="col-lg-4"></div>
</div>
