<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>What Should I Wear?</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
  </head>
  <body>
    <h1 class="text-center buffer-div">What's the Weather Somewhere Else?</h1>
    <div class="buffer-div">
      <div class="col-lg-5"></div>
      <div class="col-lg-4">
        <form method="post" action="{{ url_for('searchcity') }}">
          <input type="text" name="city" placeholder="Search for a city"></input>
          <input type="submit" value="Search">
        </form>
      </div>
      <div class="col-lg-3"></div>
    </div>
    {% include 'navigation.html' %}
  </body>
</html>
